<div id="<%= dom_id vehicle %>">
  <p>
    <strong>Id:</strong>
    <%= vehicle.id %>
  </p>
  
  <p>
    <strong>Plate:</strong>
    <%= vehicle.plate %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= vehicle.organization_id %>
  </p>

</div>
